
body {
  background-image: url(/Users/saiteja/Desktop/Untitled-5.png);
  background: rgb(15,32,44);
  width: 100%;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  display: block;
  overflow-x: hidden;
}

.bg
{
    background-color: #1b232e;
}
.sec
{
    height:60%;
    margin-top: 7%;
    
    }
.img-class
{
    height: 135%;
    width: 64%;
    margin-left: 72px;
}
.img-class2
{
    height: 135%;
    width: 64%;
    margin-left: 85px;
}
.img-middle
{
    height: 100%;
    width: 100%;
}
.p1
{
    margin-top: 110px;
    font-size: 16px;
    margin-left: 75px;
}
.text-white
{
    color: #ffffff;
    text-decoration: none;
}


.p2
{
    margin-left: 1%;
}
  #fuck
    {
background-color: white
    }
@media screen and (max-width : 412px)
{

    .p1
    {
        margin-top: 120px;
        font-size: 13px;
        margin-left: 7%;
    }
    .p2{
        margin-left: 6%;
    }
  
}

@media screen and (max-width : 1025px)
{
  .sec
  {
    margin-top: 20%;
  }
    .img-class
    {
        height: 0%;
        width: 0%;
    }
    .img-class2
    {
        height: 0%;
        width: 0%;
    }
}

@media screen and (max-width : 375px)
{
    .p1{
        margin-top: 75px;
    }     

}
@media screen and (max-width : 321px)
{
    .p1{
        margin-top: 65px;
    }     

}



@font-face{font-family:"fontfutura";src:url("https://cdn.rawgit.com/KompiAjaib/font/master/product-sans-regular.ttf") format("ttf");font-weight:normal;font-style:normal;}
a.btn-google{color:#fff}
.btn{padding:10px 6px;margin:5px;font-size:16px;line-height:1.3333333;border-radius:6px;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;border:1px solid transparent;font-weight:500;text-decoration:none;display:inline-block}
.btn:active:focus,.btn:focus{outline:0}
.btn:focus,.btn:hover{color:#333;text-decoration:none;outline:0}
.btn:active{outline:0;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);box-shadow:inset 0 3px 5px rgba(0,0,0,.125)}
.btn-google{color:#fff;background-color:#111;border-color:#000;padding:15px 16px 5px 4px;position:relative;font-family: 'Product Sans', Arial, sans-serif;font-weight:600}
.btn-google:focus{color:#fff;background-color:#555;border-color:#000}
.btn-google:active,.btn-google:hover{color:#fff;background-color:#555;border-color:#000;}
.btn-google:before{content:"";background-image:url(https://4.bp.blogspot.com/-52U3eP2JDM4/WSkIT1vbUxI/AAAAAAAArQA/iF1BeARv2To-2FGQU7V6UbNPivuv_lccACLcB/s30/nexus2cee_ic_launcher_play_store_new-1.png);background-size:cover;background-repeat:no-repeat;width:30px;height:30px;position:absolute;left:6px;top:50%;margin-top:-15px}
.btn-google:after{content:"";position:absolute;top:51px;left:4px;font-size:10px;font-weight:400}











.wrapper1 {
  max-width:1000px;
  position: relative;
  margin: 0 auto;
}

.wrapper1 img {
  max-width: 100%;
  height: auto;
}

.wrapper1 .text {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  padding: 10%;
  box-sizing: border-box;
}

.wrapper1::before {
  content: " ";
  background: rgb(209,82,47);
  opacity:0.8;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



@media only screen and (max-width: 414px) {

  .wrapper1 {
    display: none;
  }
}







body.overflow {
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
}

/*  BURGER
========================================== */
.burger {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 20px;
  right: 20px;
  border-radius: 4px;
  z-index: 100;
}
.burger span {
  position: relative;
  margin-top: 9px;
  margin-bottom: 9px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -1.5px;
}
.burger span, .burger span::before, .burger span::after {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;
  outline: 1px solid transparent;
  -webkit-transition-property: background-color, -webkit-transform;
  -moz-transition-property: background-color, -moz-transform;
  -o-transition-property: background-color, -o-transform;
  transition-property: background-color, transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.burger span::before, .burger span::after {
  position: absolute;
  content: "";
}
.burger span::before {
  top: -9px;
}
.burger span::after {
  top: 9px;
}
.burger.clicked span {
  background-color: transparent;
}
.burger.clicked span::before {
  -webkit-transform: translateY(9px) rotate(45deg);
  -moz-transform: translateY(9px) rotate(45deg);
  -ms-transform: translateY(9px) rotate(45deg);
  -o-transform: translateY(9px) rotate(45deg);
  transform: translateY(9px) rotate(45deg);
}
.burger.clicked span::after {
  -webkit-transform: translateY(-9px) rotate(-45deg);
  -moz-transform: translateY(-9px) rotate(-45deg);
  -ms-transform: translateY(-9px) rotate(-45deg);
  -o-transform: translateY(-9px) rotate(-45deg);
  transform: translateY(-9px) rotate(-45deg);
}
.burger.clicked span:before, .burger.clicked span:after {
  background-color: #ffffff;
}
.burger:hover {
  cursor: pointer;
}

/*  NAV
========================================== */
nav {
  background-color: #2a2a2a;
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  height: 100%;
  max-width: 515px;
  width: 100%;
  padding: 100px 40px 60px 40px;
  overflow-y: auto;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
nav.show {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}
nav.show ul.main li {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
}
nav.show ul.main li:nth-child(1) {
  transition-delay: 0.15s;
}
nav.show ul.main li:nth-child(2) {
  transition-delay: 0.3s;
}
nav.show ul.main li:nth-child(3) {
  transition-delay: 0.45s;
}
nav.show ul.main li:nth-child(4) {
  transition-delay: 0.6s;
}
nav.show ul.main li:nth-child(5) {
  transition-delay: 0.75s;
}
nav.show ul.main li:nth-child(6) {
  transition-delay: 0.9s;
}
nav.show ul.main li:nth-child(7) {
  transition-delay: 1.05s;
}
nav.show ul.main li:nth-child(8) {
  transition-delay: 1.2s;
}
nav.show ul.main li:nth-child(9) {
  transition-delay: 1.35s;
}
nav.show .about,
nav.show .social,
nav.show ul.sub {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
  transition-delay: 0.85s;
}
@media (min-width: 667px) {
  nav {
    padding: 120px 90px 70px 90px;
  }
}
nav ul.main {
  list-style-type: none;
}
nav ul.main li {
  margin-bottom: 20px;
  -webkit-transform: translateX(40px);
  -moz-transform: translateX(40px);
  -ms-transform: translateX(40px);
  -o-transform: translateX(40px);
  transform: translateX(40px);
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
nav ul.main li:last-of-type {
  margin-bottom: 0px;
}
nav ul.main li a {
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  display: block;
  letter-spacing: 5px;
  font-weight: 600;
  padding: 10px 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
nav ul.main li a span {
  color: #b7ac7f;
}
nav ul.main li a:hover {
  color: rgb(245,189,69);
}
nav .about {
  margin-top: 40px;
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
  transform: translateY(30px);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
nav .about p {
  color: #ffffff;
   font-family: "Poppins", sans-serif;
  font-size: 1.05rem;
  letter-spacing: 0.5px;
  line-height: 170%;
}
nav .social {
  margin-top: 40px;
  position: relative;
  padding-bottom: 30px;
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
  transform: translateY(30px);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
nav .social:after {
  content: "";
  width: 230px;
  height: 2px;
  background-color: #b7ac7f;
  position: absolute;
  bottom: 0;
  left: 0;
}
nav .social a {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 25px;
}
nav .social a:last-of-type {
  margin-right: 0px;
}
nav .social a:hover svg path,
nav .social a:hover svg circle {
  fill: #b7ac7f;
}
nav .social a svg {
  width: 100%;
  height: 100%;
}
nav .social a svg path,
nav .social a svg circle {
  fill: #ffffff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
nav ul.sub {
  list-style-type: none;
  margin-top: 40px;
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
  transform: translateY(30px);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
nav ul.sub li {
  margin-bottom: 10px;
}
nav ul.sub li:last-of-type {
  margin-bottom: 0px;
}
nav ul.sub li a {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  font-size: 0.9rem;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
nav ul.sub li a:hover {
  color: #b7ac7f;
}

/*  OVERLAY
========================================== */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
}
.overlay.show {
  opacity: 0.8;
  visibility: visible;
}






















* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



.l-heading {
  margin-right: 15%;
  font-size: 4rem;
  line-height: 4.4rem;
}
.l-heading span {
  display: block;
}

.sub-title {
  margin: 2rem 0 1rem 0;
  font-size: 1.4rem;
  color: #fff;
}

a {
  text-decoration: none;
}

.btn {
  text-align: center;

  display: inline-block;
  padding: 0.7rem 1.2rem;
  color: #000;
  background: rgb(245,189,69);
  border: none;
  border-radius: 0.3rem;
  margin-left: 35%
}


main {
  width: 30%;
  padding-left: 0rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

canvas
{
margin-top: 120px;
  margin-left: -150px;
 
}

@media screen and (max-width: 414px) {
  body {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: block;
    overflow-x: hidden;
  }

  main {
    width: 100%;
    height: 50%;
    text-align: center;
    padding-left: 0.6rem;
  }
  canvas
  {

  	display: block;
  	width: 414px;
  	height: 10px;


  }
  main .l-heading {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  main .sub-title {
    font-size: 1rem;
    margin: 1.6rem 0 1.8rem 0;
  }

 

  .btn {

  margin-left: 1%
}
}






#container {
  font-family: "Poppins", sans;
  text-align:center;
  color:#000;
  text-transform: uppercase;
  font-size:33px;
  font-weight:bold;
  padding-top:20px;  
  width:100%;
  bottom:45%;
  display:block;
}

#flip {
  height:50px;
  overflow:hidden;
}

#flip > div > div {
  color:#fff;
  padding:4px 12px;
  height:45px;
  margin-bottom:45px;
  display:inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  background:#42c58a;
}
#flip div:first-child div {
  background:#4ec7f3;
}
#flip div:last-child div {
  background:#DC143C;
}


@media screen and (max-width: 414px) {
#container {

  padding-top:100px;  
  width:100%;
  bottom:45%;
  display:block;
}

}
  


@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}











*{
  margin: 0;
  padding: 0;
  color: #d9d9d9;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.content1{
  position: relative;
  margin: 130px auto;
  text-align: center;
  padding: 0 20px;
}
.content1 .text{
  font-size: 2.5rem;
  font-weight: 600;
  color: #202020;
}
.content1 .a{
  font-size: 2.1875rem;
  font-weight: 600;
  color: #202020;
}
footer{
  position: relative;
  bottom: 0px;
  width: 100%;
  background: black;
}
.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -10px;
}
.left .content p{
  text-align: justify;
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
}
.left .content .social a span{
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover{
  background: #f12020;
}
.center .content .fas{
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover{
  background: #f12020;
}
.center .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone{
  margin: 15px 0;
}
.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form .msgForm{
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
}
.right form input:focus,
.right form .msgForm:focus{
  outline-color: #3498db;
}
.right form input{
  height: 35px;
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #f12020;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.right form .btn button:hover{
  background: #000;
}
.bottom center{
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span{
  color: #656565;
}
.bottom center a{
  color: #f12020;
  text-decoration: none;
}
.bottom center a:hover{
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}













.main-container {
  margin-top: 1%;
  padding-top: 8px;
background-image: url(../images/ba.png);
  height: 80%;
  background-size: cover;
  background-position: center center;
  color: #fff;
}

.centering-container
{
  width: 50%;
  height: 50%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

h1
{
	font-size: 65px;
}

p {
  font-weight: 300;
  text-align: center;
}

.flex-container {
  display: flex;
  text-align: center;
  overflow: hidden;
}

.flex-component {

  -webkit-box-flex: 1;
  flex: 1 20%;
  padding: 25px 20px 40px 20px;
  transition: all .5s;
  position: relative;
  min-height: 250px;
  width: 10px;

}
.flex-component:first-child {
  border: none;
}

.flex-component:hover {
  flex: 1 40%;
}

.flexing {
  -webkit-box-flex: 1;
  flex: 1 40%;
}

.number {
  display: block;
  position: asbolute;
  text-align: center;
  font-size: 70px;
  font-weight: 300;
  transform: scale(0.80);
  transform-origin: top left;
  top: 25px;
  transition: transform .5s;
  
}
.flex-component:hover .number {
  transform: scale(1);
}

.info {
  position: absolute;
  top: 55px;
  transition: top .2s;
  
}
.flex-component:hover .info {
  top: 150px;
}

.{
  transform-origin: top left;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  transition: transform .5s;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  margin-top: 20px;
  margin-bottom: 10px;
}

p {
  transform: translateY(90px) translateX(0px);
  padding-right: 50px;
  opacity: 0;
  font-size: 14px;
  line-height: 22px;
  transition: .5s;

}
.flex-component:hover p {
  transform: translateY(0px) translateX(0px);
  opacity: 1;
}

i {
  font-size: 100px;
  position: absolute;
  top: auto;
  bottom: 65px;
}

.flex-component:hover i {
  opacity: 0;
}

i:before {
  content:"\e927";
}



@media screen and (max-width: 414px) {


.main-container{
  display: none;
}
.col-12 {
  width: 100%;
}

.centering-container
{
  width: 100%;
  height: 50%;
}
.main-container {
	font-size: 2rem;
	background-image: url();
width: 100%;
overflow-x: hidden;
  }
h1
{
	font-size: 40px;
}
}


.new
{
  display: none;
}


.header1 {
  height: auto;
  width: 50%;
  min-width: 260px;
  margin: 20px auto 0px;
  padding: 10px;
  background: #1c2d37;
  box-shadow: 5px 5px 20px #07161f;
}
.content1 {
  height: auto;
  width: 50%;
  min-width: 260px;
  margin: 20px auto;
  padding: 10px;
  background-color: rgb(223,89,52,0.8);
  box-shadow: 5px 5px 20px #07161f;
}

.content2 {
  height: auto;
  width: 50%;
  min-width: 260px;
  margin: 20px auto;
  padding: 10px;
background-color: rgb(245,188,69,0.8);
  box-shadow: 5px 5px 20px #07161f;
}

.para {
  color: #ffffff;
  margin: 20px;
  text-align: justify;
  text-justify: inter-word;
}
@media only screen and (max-width: 900px) {
  .new
  {
    display: block;
  }
  h1 {
    font-size: 18px;
  }
  h2 {
    font-size: 14px;
  }
  a {
    font-size: 12px;
  }
}











.wrapper {
  margin: 0 auto;
}

.trigger {
  position: absolute;
}
.trigger--one {
  left: 0;
}

.scene {
  position: absolute;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
}
.scene--active {
  position: fixed;
}
.scene--ended {
  position: absolute;
  bottom: 0;
  top: auto;
}

.horizontal-scroll-section {
  position: relative;
  display: block;
  height: 100vh;
  opacity: 0;
  transition: 0.2s opacity;
}
.horizontal-scroll-section img {
  display: block;
  max-height: 80%;

}
.horizontal-scroll-section--init {
  opacity: 1;
}
.horizontal-scroll-section__content {
  display: flex;
  align-items: center;
}
.horizontal-scroll-section__content-wrapper {
  display: flex;
  height: 100%;
  align-items: center;
  position: relative;
}
.horizontal-scroll-section__content-section {
  position: relative;
  min-width: 55vw;

  text-align: center;
  padding: 0 40px;
  height: 100%;
  display: flex;
  align-items: center;
}
.horizontal-scroll-section__image {
  display: flex;
  align-items: center;
}
.horizontal-scroll-section__image h2 {
  margin-left: 20px;
  width: 250px;
  text-align: left;
  flex-shrink: 0;
}
.horizontal-scroll-section__image--two img {
  max-width: 400px;
}
.horizontal-scroll-section__image--four img {
  max-width: 400px;
}
.horizontal-scroll-section--animation-one .horizontal-scroll-section__image--two {
  opacity: 1;
  transform: translateX(0);
}

.horizontal-scroll-section__content-section span
{
  line-height: 1px;
}
.horizontal-scroll-section__content-section div
{
font-size: 20px;
line-height: 30px;
}

@media screen and (max-width: 414px) {

.horizontal-scroll-section{
  display: none;
}

}




.posts{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  display: none;
}
.post{
  width: 47%;
  background: rgb(15,32,44);
  overflow: hidden;
  margin: 10px;
  float: left;
}
.post img{
  width: 100%;
  height: 50%;
}
.post a{
  padding: 10px;
  text-align: center;
}
h2{
  margin: 10px;
  text-align: center;
}
@media only screen and (max-width: 414px) {
  .post{
    width: 96%;
    margin: 2%;
  }
  .posts
  {
    display: block;
  }
}
